<p class="h4 mt-3"> <i class="fas fa-chevron-left text-success" (click)="back()" role="button"></i>
    Compra {{section}} en</p>
<div class="container text-center overflow-auto" style="height: calc(100vh - 150px);">
    <p class="h5 text-left text-danger fw-bold"><u>Tipo</u></p>

    <div class="form-check form-check-inline me-0" *ngFor="let t of type; let i = index" (click)="_type = t.value">
        <input class="form-check-input" type="radio" name="type" [id]="'r'+i" [value]="t.value"
            (change)="_t1 = t.value; _normal = []">
        <label class="form-check-label" [for]="'r'+i"><img width="64px" [src]="cdn+'T2_'+t.value"
                [alt]="t.name"></label>
    </div>

    <ng-container *ngIf="_type != ''">
        <p class="h5 text-left text-danger fw-bold"><u>Tier</u></p>
        <ng-container *ngFor="let t of tier; let j = index">
            <div class="form-check form-check-inline me-0" [hidden]="(_type == 'FIBER' || _type == 'ORE') && j == 0"
                (click)="_button = true">
                <input class="form-check-input" type="radio" name="tier" [id]="'t'+j" [value]="t"
                    (change)="_t2 = t; _normal = []">
                <label class="form-check-label" [for]="'t'+j"><img width="64px" [src]="cdn+t+'_'+_type"
                        [alt]="t+'_'+_type"></label>
            </div>
        </ng-container>
    </ng-container>

    <div class="d-grid mt-3" *ngIf="_button">
        <div type="button" role="button" class="btn btn-success" (click)="search(_t1, _t2)">Buscar <i
                class="fas fa-search" *ngIf="!_load"></i>
            <div class="spinner-border text-light" style="width: 1rem; height: 1rem; border-width: 0.15em;"
                *ngIf="_load" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <div class="card mt-3 border-0 p-0" *ngIf="_normal.length > 0">
        <div class="card-header px-0 bg-transparent">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item" role="presentation" style="font-size: 0.88rem;">
                    <a data-bs-toggle="tab" role="tab" id="normal-tab" aria-selected="true" class="nav-link active"
                        data-bs-target="#normal" aria-controls="normal">Normal</a>
                </li>
                <ng-container *ngIf="_t2 != 'T1' && _t2 != 'T2' && _t2 != 'T3'">
                    <li class="nav-item" role="presentation" style="font-size: 0.88rem;">
                        <a data-bs-toggle="tab" role="tab" id="comun-tab" aria-selected="false" class="nav-link"
                            data-bs-target="#comun" aria-controls="comun">Poco común</a>
                    </li>
                    <li class="nav-item" role="presentation" style="font-size: 0.88rem;">
                        <a data-bs-toggle="tab" role="tab" id="rara-tab" aria-selected="false" class="nav-link"
                            data-bs-target="#rara" aria-controls="rara">Rara</a>
                    </li>
                    <li class="nav-item" role="presentation" style="font-size: 0.88rem;">
                        <a data-bs-toggle="tab" role="tab" id="excep-tab" aria-selected="false" class="nav-link"
                            data-bs-target="#excep" aria-controls="excep">Excepcional</a>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="tab-content mb-3">
            <div class="tab-pane fade show active" role="tabpanel" id="normal" aria-labelledby="normal-tab">
                <div class="row g-0 border-bottom border-dark py-1" *ngFor="let n of _normal | minMax">
                    <div class="col-3">
                        <img [src]="cdn+_t2+'_'+_t1" width="64px" [alt]="_t2+'_'+_t1">
                    </div>
                    <div class="col">
                        <div class="card-text text-start">
                            <span class="text-success">{{ n.city }} </span><br>
                            <span *ngIf="n.sell_price_min > 0">{{ n.sell_price_min }} Silver <br> {{
                                n.sell_price_min_date |
                                date: 'MMM d, y, H:mm a' }}
                            </span>
                            <span *ngIf="n.sell_price_min == 0">Precio no disponible
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="comun" aria-labelledby="comun-tab">
                <div class="row g-0 border-bottom border-dark py-1" *ngFor="let n of _pcomun| minMax">
                    <div class="col-3">
                        <img [src]="cdn+_t2+'_'+_t1+'_LEVEL1'" width="64px" [alt]="_t2+'_'+_t1">
                    </div>
                    <div class="col">
                        <div class="card-text text-start">
                            <span class="text-success">{{ n.city }} </span><br>
                            <span *ngIf="n.sell_price_min > 0">{{ n.sell_price_min }} Silver <br> {{
                                n.sell_price_min_date | date: 'MMM d, y, H:mm a' }} <br>
                            </span>
                            <span *ngIf="n.sell_price_min == 0">Precio no disponible
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="rara" aria-labelledby="rara-tab">
                <div class="row g-0 border-bottom border-dark py-1" *ngFor="let n of _raro | minMax">
                    <div class="col-3">
                        <img [src]="cdn+_t2+'_'+_t1+'_LEVEL2'" width="64px" [alt]="_t2+'_'+_t1">
                    </div>
                    <div class="col">
                        <div class="card-text text-start">
                            <span class="text-success">{{ n.city }} </span><br>
                            <span *ngIf="n.sell_price_min > 0">{{ n.sell_price_min }} Silver <br> {{
                                n.sell_price_min_date |
                                date: 'MMM d, y, H:mm a' }}
                            </span>
                            <span *ngIf="n.sell_price_min == 0">Precio no disponible
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="excep" aria-labelledby="excep-tab">
                <div class="row g-0 border-bottom border-dark py-1" *ngFor="let n of _excep | minMax">
                    <div class="col-3">
                        <img [src]="cdn+_t2+'_'+_t1+'_LEVEL3'" width="64px" [alt]="_t2+'_'+_t1">
                    </div>
                    <div class="col">
                        <div class="card-text text-start">
                            <span class="text-success">{{ n.city }} </span><br>
                            <span *ngIf="n.sell_price_min > 0">{{ n.sell_price_min }} Silver <br> {{
                                n.sell_price_min_date |
                                date: 'MMM d, y, H:mm a' }}
                            </span>
                            <span *ngIf="n.sell_price_min == 0">Precio no disponible
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>