<app-oro></app-oro>
<div class="container overflow-hidden">
    <div class="row g-0" style="width: 200vw; transition: .5s;" [ngStyle]="{'margin-left': margin+'vw'}">
        <div class="col ps-0 overflow-auto" style="width: 100vw; height: calc(100vh - 100px);">
            <div class="row border-bottom me-0" *ngFor="let i of items">
                <div class="col mb-3 mt-3">
                    <div class="float-left">
                        <p class="h4">{{i.title}}</p>
                        <div class="d-flex">
                            <img width="64px" [src]="cdn+img" [alt]="'Icon '+ i.title" *ngFor="let img of i.img">
                        </div>
                    </div>
                    <div class="float-right d-grid gap-2 mt-3" style="width: 40%;">
                        <div class="btn btn-success" role="button" (click)="evento(i)">Compra en...</div>
                        <div class="btn btn-danger" role="button" (click)="evento(i, false)">Vende en...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col ps-0" style="width: 100vw" *ngIf="_color">
            <app-comprar [section]="_title" (margin)="margin = $event"></app-comprar>
        </div>
        <div class="col ps-0" style="width: 100vw;" *ngIf="!_color">
            <app-vender [section]="_title" (margin)="margin = $event"></app-vender>
        </div>
    </div>
</div>
