<nav class="navbar navbar-expand-lg navbar-dark bg-primary border-0 rounded-0 position-fixed top-0 w-100"
  style="z-index: 10;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tienda albion</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="Home" routerLinkActive="active">Consultar Precios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Level" routerLinkActive="active">Levelea con nosotros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>